*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.wrapper {
    width: 100%;
    display: flex;
    margin: 0 auto;
}
.main {
    display: flex;
    flex-flow: column;
    width: 100%;
}
.menu {
    width: 10%;
    background-color: #008cff;
    padding: 10px 20px 0px;
    border: solid 1px black;
}

#menu{
    color: #0c0c0c;
}

.contact{
    display: flex;
    justify-content: space-between;
    border: solid 2px blue;
}

iframe{
    width: 400px;
    height: 400px;
    border: solid 1px red;
}

#btn {
    width: 50px;
    height: auto;
    border-radius: 5px;
}

form {
    width: 500px;
    border: solid 1px red;
}

.formulario{
    display: grid;
    justify-items: center;

}

.header {
    display: flex;
    justify-content:space-between;
    background-color: #008cff;
    min-height: 150px;
    border: solid 1px black;
}

.icon{
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}

span{
    color: #606d80;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}


img {
    border: solid 2px red;
}

li {
    padding: 10px;
    text-decoration: none;
}

a{
    text-decoration: none;
}


h1{
    color: #0c0c0c;
    font-size: 100px;
}
.content {
    background-color: white;
    height: 100vh;
    padding: 20px;
    border: solid 1px black;
}
.footer {
    min-height: 150px;
    border: solid 1px black;
}